*{
    margin: 0;
}
html, body{
    background-color: violet;
    height: 100%;
    width: 100%;
}
#container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Title*/
#title{
    background-color: turquoise;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title h1{
    color: azure;
}

/* Nav bar*/
nav{
    height: 10%;
}
nav ul{
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-size: 24px;
    letter-spacing: 2px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33.34%;
}
#one{
    background-color: yellow;

}
#two{
    background-color: green;
}
#three{
    background-color: orange;
}

